<ion-header>
    <ion-toolbar>
        <ion-title>Direccion</ion-title>
    </ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button>volver</ion-back-button>
    </ion-buttons>
</ion-header>

<ion-content class="ion-no-border">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
            </ion-card-subtitle>
            <ion-card-title>Casa Cir</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div>
                <img src="../assets/image/mapa.jpg" style="width: 100%;" alt="">
                <div class="neg">
                    <img src="../assets/image/casacir.png" style="border-radius: 50%;  width: 100px;height: 100px;" />
                </div>
            </div>
            <p>Calle Bolivar #123 entre ballivian y juan misael saracho,Galeria damasco</p>

        </ion-card-content>
    </ion-card>
</ion-content>