<ion-header>
    <ion-toolbar class="cabecera">
        <ion-title>Añadir Noticia Internacional</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-padding">
        <ion-card-header>

            <ion-card-title class="ion-text-center">Añadir Noticia</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Lugar</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Url</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <div class="añadir">
                <ion-button color="primary" slot="start">guardar</ion-button>
                <ion-buttons color="danger" fill="outline" slot="end">

                </ion-buttons>

            </div>

        </ion-card-content>

    </ion-card>



</ion-content>