<ion-header>
    <ion-toolbar class="cabecera">
        <ion-title class="ion-text-center mayusculas">Tienda</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="../assets/image/casacir.png">
        <ion-card-header>

            <ion-card-title>Casa CIR</ion-card-title>
            <ion-card-subtitle>Calle Bolivar entre ballivian y juan misael Saracho, galeria Damasco</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-button size="medium" color="warning">llevame</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card class="desc">
        <ion-grid fixed style="padding: 0;">
            <ion-row style="padding:0;">
                <ion-col size="1" class="cover">
                    <h1 style="vertical-align: text-top;">DESC</h1>
                </ion-col>
                <ion-col size="6" class="cupon">
                    <ion-button color="warning">Cupon QR</ion-button>
                </ion-col>
                <ion-col size="5">
                    <h1 class="ion-text-center">Casa Cir</h1>
                    <h3 class="ion-text-center">valido</h3>
                    <p class="ion-text-center">del 3 de nov al 4 de dic</p>
                    <h1 class="ion-text-center">10 %</h1>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>